* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #181818;
    color: white;
}

/* header part css */
.top {
    width: 100%;
    height: 15%;
}

.main-img {
    width: 100%;
    height: 500px;
    position: relative;
}

.main-photo {
    width: 100%;
    height: 100%;
}

.main-text {
    color: white;
    margin: 0px;
    top: 15%;
    padding-left: 30px;
    position: absolute;
}

.title {
    font-size: 50px;
    font-weight: bold;
    margin: 0px;
}

.now-movie-btn {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    border: 0;
    border-radius: 8px;
    background-color: white;
    opacity: 0.8;
}

.now-movie-btn:hover {
    color: white;
    background-color: #181818;
}

.comment {
    margin: 0px;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

/* nav part css */

.nav {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.nav-title a {
    color: red;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.btn-profile {
    margin-right: 40px;
}


.btn-profile button {
    width: 50px;
    height: 50px;
    padding: 0px;
    border: 0;
    border-radius: 10px;
    background-color: transparent;
}

.btn-profile button:hover {
    background-color: #181818;
}

.profile {
    width: 80%;
}



/* main part css */
.main {
    width: 100%;
    height: 80%;
}

.movie-list {
    width: 100%;
    height: 23%;
    padding-top: 30px;
}

.movie-area {
    width: 100%;
    height: 23%;
}

.movie-type {
    color: white;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 40px;
    padding-bottom: 15px;
}

.movie-poster {
    width: 100%;
    height: 23%;
    display: flex;
    justify-content: space-evenly;
}

.movie-poster img {
    width: 10%;
    height: 23%;
    max-height: 250px;
}

.movie-poster img:hover {
    transform: scale(1.2);
}


/* footer part css */
.footer {
    width: auto;
    height: 5%;
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 50px;
}

.footer p {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}
