


header {
    width: 100%;
    height: 15%;
}

.btn-profile {
    width: 100px;
    height: auto;
}

.profile {
    width: 100px;
    height: 100px;
}

.main {
    width: auto;
    height: 80%;
}

section {
    display: inline-flex;
}

footer {
    width: auto;
    height: 5%;
}